.Login{
    border: solid white 2px;
    border-radius: 40px;
    width: 50%;
    margin: 5% auto;
}

.Login label{
    font-size: 30px;
    display: block;
    margin: 5% 0% 3% 0%;
}

.Login input{
    display: block;
    margin: 1% auto;
}

.Login input[type=submit]{
    font-size: 20px;
    margin: 7% auto;
    padding: 2% 6%;
    border-radius: 40px;
    border: solid white 2px;
    background-color: black;
    color: white;
}

.Login input[type=submit]:hover{
    background-color: white;
    color: black;
}

.Login input[type=text], .Login input[type=password]{
    text-align: center;
    width: 30%;
    padding: 1%;
    font-size: 18px;
}

.LoginAccount{
    font-size: 25px;
    padding-top: 10%;
    color: red;
    font-weight: bold;
}